:root {
  --humboldt-fog: rgb(122, 134, 154);
  --jolly-fun-time: rgb(223, 225, 229);
  --grams-hair: rgb(244, 245, 247);
  /* Web Type Colors */
  --pacific-bridge: rgb(0, 82, 204);
  --slate: rgb(9, 30, 66);
  --snorlax: rgb(37, 56, 88);
  --mcfanning: #42526e;
  --doctor: rgb(255, 255, 255);
}
a {
  text-decoration: none;
}
a > * {
  pointer-events: none;
}
body {
  margin: 0;
  padding: 0;
}
p {
  color: var(--mcfanning);
}
.page-container {
  display: flex;
  flex-direction: column;
}
.row {
  display: flex;
  padding: 0 1.5rem;
}
.logo {
  height: 1rem;
  padding-top: 0.75rem;
  padding-left: 0.5rem;
}
.column {
  flex-direction: row;
}
.column + .column {
  padding-left: 2rem;
}
.column:first-child {
  flex: 250px 0 0;
}
.page-header {
  background-color: var(--pacific-bridge);
  height: 2.5rem;
}
.main .speaker {
  color: var(--snorlax);
}
.sessions {
  list-style: none;
  padding: 0;
  border-top: thin solid var(--jolly-fun-time);
}
.session {
  padding: 0.5rem 0.25rem;
  font-size: small;
  border-bottom: thin solid var(--jolly-fun-time);
}
.session .header {
  margin-bottom: 0.25em;
}
.session a {
  color: var(--slate);
}
.session.active {
  background-color: var(--grams-hair);
}
.hero {
  flex: 0 1 10rem;
  padding-bottom: 1rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.hero .header {
  font-size: 2rem;
  padding-bottom: 1rem;
  align-items: baseline;
}
.hero img {
  height: 2rem;
}
.hero > * {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.tabs {
  display: flex;
  flex: 0 0 100%;
  padding-bottom: 3rem;
}
.tabs::after {
  content: "";
  border-bottom: thin solid var(--jolly-fun-time);
  flex: 1 1 100%;
}
.tab {
  border: thin solid var(--jolly-fun-time);
  background-color: var(--grams-hair);
  padding: 0.5rem 1rem;
  color: var(--mcfanning);
}
.tab.active {
  background-color: var(--doctor);
  border-bottom-color: var(--doctor);
  position: relative;
}
.tab:first-child {
  border-top-left-radius: 0.25rem;
}
.tab:last-child {
  border-top-right-radius: 0.25rem;
}
.header {
  color: var(--snorlax);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.subtle {
  color: var(--humboldt-fog);
}
